<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
           xmlns:context="http://www.springframework.org/schema/context" 
           xmlns:mvc="http://www.springframework.org/schema/mvc" 
           xmlns:tx="http://www.springframework.org/schema/tx"
           xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" 
           xsi:schemaLocation="http://www.springframework.org/schema/beans 
                                          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
                                          http://www.springframework.org/schema/mvc 
                                          http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                                          http://mybatis.org/schema/mybatis-spring 
                                          http://mybatis.org/schema/mybatis-spring.xsd
                                          http://www.springframework.org/schema/tx 
                                          http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                                          http://www.springframework.org/schema/context 
                                          http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<bean id="default-handler-mapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	<mvc:annotation-driven/>
	<!-- spring에서 제공되는 네임스페이스를 사용할 경우 반드시 먼저 선언하고 사용할 것. -->
	<tx:annotation-driven/>
	<!-- 첨부파일 관련 설정 추가 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="999999999999999"/>
	</bean>
	<context:component-scan base-package="com.board"/>
	<context:component-scan base-package="com.boardlist"/>
	<context:component-scan base-package="com.calendar"/>
	<context:component-scan base-package="com.card"/>
	<context:component-scan base-package="com.include"/>
	<context:component-scan base-package="com.login"/>
	<context:component-scan base-package="com.meet"/>
	<context:component-scan base-package="com.models"/>
	<context:component-scan base-package="com.note"/>
	<context:component-scan base-package="com.team"/>
	<context:component-scan base-package="com.chatting"/>
	<context:component-scan base-package="com.chart"/>
	<context:component-scan base-package="com.android"/>
	<bean id="naverLoginBO" class="com.login.NaverLoginBO" />
	<!-- 컨트롤계층의 클래스를 url로 요청하기 위해서는 반드시 component-scan태그에 패키지 등록할것. -->
		<!-- 컨트롤계층의 클래스를 url로 요청하기 위해서는 반드시 component-scan태그에 패키지 등록할것. -->
	<!-- google Class Bean설정 추가 -->
<!-- 클라이언트ID와 보안비밀 세팅-->
<bean id="googleConnectionFactory"
	class="org.springframework.social.google.connect.GoogleConnectionFactory">
	<constructor-arg value="736734092169-rgr18ugfmpuf2lhajgp68and5g3nid6f.apps.googleusercontent.com" />
	<constructor-arg value="zQtSPOeCUKPsjsI6KHYnhy9Q" />
</bean>
<!-- 승인된 자바스크립트 원본과 승인된 리디렉션 URI -->
<bean id="googleOAuth2Parameters" class="org.springframework.social.oauth2.OAuth2Parameters">
	<property name="scope" value="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"/>
	<property name="redirectUri" value="http://localhost:9000/4People_last2Spring/login/googleSignInCallback" />
</bean>
	
	<mybatis:scan base-package="com.mybatis.mapper"/>
	<mvc:resources location="/csss/" mapping="/csss/**"/>
	<mvc:resources location="/images/" mapping="/images/**"/>
	<mvc:resources location="/common/" mapping="/common/**"/>
	<mvc:resources location="/login/" mapping="/login/**"/>
	<mvc:resources location="/images/" mapping="/images/**"/>
	<mvc:resources location="/intro/" mapping="/intro/**"/>
	<mvc:resources location="/calendar/" mapping="/calendar/**"/>
	<mvc:resources location="/pds/" mapping="/pds/**"/>
	<mvc:resources location="/card/" mapping="/card/**"/>
	<mvc:resources location="/meetRoom/" mapping="/meetRoom/**"/>
	<mvc:resources location="/chart/" mapping="/chart/**"/>
<!-- 	<context:component-scan base-package="com.web"/> -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/view/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="smtp.gmail.com" />
    <property name="port" value="587" />
    <property name="username" value="dudtjd7820@gmail.com" />
    <property name="password" value="whwlgus1"/>
    <property name="javaMailProperties">
    <props>
      <prop key="mail.smtp.auth">true</prop>
      <prop key="mail.smtp.starttls.enable">true</prop>
    </props>
    </property>
  </bean>
</beans>


